.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .mainContent {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    overflow-y: auto;
  }
  
  .statusBoxes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .statusBox {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 60px;
    background-color: white;
    padding: 20px;
    border-right: 1px solid #242323;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .statusBox.active {
    background-color: #001A87;
    color: white;
  }
  
  .statusBox:hover {
    background-color: #f0f0f0;
  }
  
  .statusBox.active:hover {
    background-color: #0056b3;
  }
  
  .statusLabel {
    font-size: 24px;
    font-weight: 500;
  }
  
  .statusCount {
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
  }
  
  .ticketDetails {
    margin-top: 20px;
  }
  
  .ticketBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EDEDED;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px 20px;
  }
  
  .noTickets {
    text-align: center;
    margin-top: 20%;
    font-size: 24px;
    color: #666;
  }

  .styledBox {
    display: flex;
    align-items: center;
    background-color: #D8DCDE;
    border-radius: 8px;
    padding: 5px;
    height: 20px;
    font-weight: 500;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .statusBoxes {
      flex-direction: column;
    }
  
    .statusBox {
      width: 100%;
    }
  }