.sidebar {
    width: 210px;
    height: 100vh;
    background-color: #001A87;
    color: white;
    display: flex;
    flex-direction: column;
  }
  
  .logoContainer {
    padding: 20px;
    text-align: left;
    
   
  }
  
  .logo {
    max-width: 60%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 0;
  }
  
  .nav {
    flex: 1;
    padding: 5px 0;
  }
  
  .navItem {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
  }
  
  .navItem:hover {
    background-color: seagreen;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .footer {
    padding: 20px;
  }
  
  .logoutButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: seagreen;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  
  .logoutButton:hover {
    background-color: #34495e;
  }